---
layout: default
---

<link rel="stylesheet" href="{{ "/css/selena.css" | prepend: site.baseurl }}">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W09TQLC7M1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-W09TQLC7M1');
</script>

<!-- Project Header -->
<header class="intro-header minimal">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{ page.title }}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="content" role="main">
    <div class="wrapper">
        <br>
        <a href="{{ site.baseurl }}/projects/" class="back-to-projects"><i class="fa fa-arrow-left"></i> Projects</a>

        <!-- Gallery -->
        <div class="gallery masonry-gallery">
        
        {% for image in page.images %}
            <figure class="gallery-item">
                <header class='gallery-icon'>
                    <a href="{{ site.url }}{{ site.baseurl }}{{ image.path }}" class="popup" title="{{ image.caption }}" data-caption="{{ image.copyright }}">
                        <img src="{{ site.url }}{{ site.baseurl }}{{ image.path }}" loading="lazy">
                    </a>
                </header>	
                <figcaption class='gallery-caption'>
                    <div class="entry-summary" id="{{ image.caption }}">
                        <h3>{{ image.caption }}</h3>
                    </div>
                </figcaption>
            </figure>
        {% endfor %}

        </div>
    </div><!-- END .wrapper -->
</section>

<!-- jQuery -->    
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- include image popups -->
<script src="{{ site.baseurl }}/js/jquery.magnific-popup.js"></script>

<script type="text/javascript">
$(document).ready(function($) {
    $('a.popup').magnificPopup({
        type: 'image',
        gallery: {
            enabled: true,
            navigateByImgClick: true,
            preload: [1,2]
        },
        callbacks: {
            open: function() {
                $(document).on('keydown.mfpNav', function(e) {
                    if (e.keyCode === 37) $.magnificPopup.instance.prev();
                    else if (e.keyCode === 39) $.magnificPopup.instance.next();
                });
            },
            close: function() {
                $(document).off('keydown.mfpNav');
            },
            markupParse: function(template, values, item) {
                var imgSrc = item.el.attr('href');
                template.find('.mfp-fullview').attr('href', imgSrc);
                template.find('.mfp-download').attr('href', imgSrc);
            }
        },
        image: {
            titleSrc: function(item) {
                var title = item.el.attr('title') || '';
                return '<span class="mfp-title-text">' + title + '</span>';
            },
            markup: '<div class="mfp-figure">'+
                '<div class="mfp-close"></div>'+
                '<figure>'+
                    '<div class="mfp-img"></div>'+
                    '<figcaption>'+
                        '<div class="mfp-bottom-bar">'+
                            '<div class="mfp-title"></div>'+
                            '<div class="mfp-counter"></div>'+
                        '</div>'+
                    '</figcaption>'+
                '</figure>'+
                '<div class="mfp-toolbar">'+
                    '<a class="mfp-fullview" title="View full size" target="_blank"><i class="fa fa-search-plus"></i></a>'+
                    '<a class="mfp-download" title="Download" download><i class="fa fa-download"></i></a>'+
                '</div>'+
            '</div>'
        }
    });

    // Back to top button
    var backToTop = $('<a href="#" class="back-to-top" title="Back to top"><i class="fa fa-chevron-up"></i></a>');
    $('body').append(backToTop);
    
    $(window).scroll(function() {
        if ($(this).scrollTop() > 300) {
            backToTop.fadeIn();
        } else {
            backToTop.fadeOut();
        }
    });
    
    backToTop.click(function(e) {
        e.preventDefault();
        $('html, body').animate({scrollTop: 0}, 400);
    });
});
</script>

<!-- include Masonry -->
<script src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script> 
<!-- include mousewheel plugins -->
<script src="{{ site.baseurl }}/js/jquery.mousewheel.min.js"></script>
<!-- include carousel plugins -->
<script src="{{ site.baseurl}}/js/jquery.tinycarousel.min.js"></script>
<!-- include svg line drawing plugin -->
<script src="{{ site.baseurl }}/js/jquery.lazylinepainter.min.js"></script>
<!-- include custom script -->
<script src="{{ site.baseurl }}/js/scripts.js"></script>
<!-- Modernizr -->
<script src="{{ site.baseurl }}/js/modernizr.js"></script>
