---
layout: default
---

<link rel="stylesheet" href="{{ "/css/selena.css" | prepend: site.baseurl }}">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W09TQLC7M1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-W09TQLC7M1');
</script>

<!-- Page Header -->
<header class="intro-header minimal">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{ page.title }}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="content" role="main">
    <div class="wrapper">
        {% if page.blurb %}
        <p class="project-blurb">{{ page.blurb }}</p>
        {% endif %}
        <!-- Gallery -->
        <div class="gallery masonry-gallery">
            
        {% for image in page.images %}
            <figure class="gallery-item">
                <figure class="effect-selena">
                    {% if image.updated %}
                    <span class="updated-badge">New Photos</span>
                    {% endif %}
                    <header class='gallery-icon'{% if image.crop %} style="overflow: hidden;"{% endif %}>
                        <a href="{{ site.url }}{{ site.baseurl }}{{ image.project-folder }}"{% if image.crop %} style="transform: scale({{ image.crop | plus: 1.0 }}); transform-origin: center center;"{% endif %}>
                            <img src="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}" loading="lazy">
                        </a>
                    </header>	
                    <figcaption class='gallery-caption'>
                        <div class="entry-summary">
                            <h3>{{ image.gallery-name }}</h3>
                        </div>
                    </figcaption>
                </figure>
            </figure>
        {% endfor %}
                
        </div>
    </div><!-- END .wrapper -->
</section>

<!-- jQuery -->    
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- include Masonry -->
<script src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script> 
<!-- include custom script -->
<script src="{{ site.baseurl }}/js/scripts.js"></script>
